**Series y DataFrames en Pandas**

Ya entendiste los conceptos básicos de Numpy, ahora hay que entender como funciona la librería de Pandas, esta nos ayuda a hacer una mejor exploración y análisis de los datos.

## **Pandas**
Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

* Velocidad
* Poco código
* Múltiples formatos de archivos
* Alineación inteligente

Pandas Series
Es muy parecido a un array de una dimensión (o vector) de NumPy.

* Arreglo unidimensional indexado
* Búsqueda por índice
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos

Pandas DataFrame
Muy parecido a las estructuras matriciales trabajadas con NumPy.

* Estructura principal
* Arreglo de dos dimensiones
* Búsqueda por índice (columnas o filas)
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos
* Tamaño variable

**Series**

Es un arreglo unidimensional indexado

In [2]:
import pandas as pd

Definiendo una lista con índices específicos

In [3]:
psg_players=pd.Series(["Navas","Mbappe","Neymar","Messi"], index=[1,7,10,30]) # we use pd.Series to create a series and index to give the players a number
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Búsqueda por índices

In [11]:
dict={1:"Navas",7:"Mbappe",10:"Neymar",30:"Messi"}

pd.Series(dict) # we can also create a series using a dictionary

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [12]:
psg_players[7] # we can access the players using the index

'Mbappe'

Búsqueda mediante Slicing

In [6]:
psg_players[0:3] # we can also access the players using slicing, the last index is exclusive

1      Navas
7     Mbappe
10    Neymar
dtype: object

## **Pandas**


Similar a la estructura matricial

In [7]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0, 170.0, 170.0, 163.0],
  'Goles':[2, 200, 150, 500]}

In [8]:
df_player=pd.DataFrame(dict , index=[1,7,10,30]) # we use pd.DataFrame to create a dataframe and index to give the players a number
df_player

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

Búsqueda por índices. Columnas

In [9]:
df_player.columns # we can access the columns of the dataframe

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

Búsqueda por índice.

In [13]:
df_player.index # we can access the index of the dataframe

Index([1, 7, 10, 30], dtype='int64')