In [4]:
%run -i 10_merge_concat.ipynb

Join Es otra herramienta para hacer exactamente lo mismo, una combinación. La diferencia es que join va a ir a los índices y no a columnas específicas.

In [5]:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

der =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [6]:
izq

     A   B
k0  A0  B0
k1  A1  B1
k2  A2  B2

In [7]:
der

     C   D
k0  C0  D0
k2  C1  D1
k3  C2  D2

Combinamos izq con der

In [8]:
izq.join(der) # por defecto hace un left join

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

Traer todos los datos aunque no hagan match.

In [10]:
izq.join(der,how='outer') # hace un full outer join

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2