```sql
CREATE DATABASE curso_sql;
CREATE DATABASE IF NOT EXISTS curso_sql;

1. Para seleccionar una base de datos lo cual usaremos
```sql
USE antonio_db;

- PARA MOSTRAR LAS TABLAS DE UNA BASE DE DATOS
```sql
SHOW TABLES;
```

- PARA describir una tabla en particular `DESCRIBE nombre_tabla`
```sql
DESCRIBE host_sumary;
```
- PARA CREAR UNA TABLA
```sql
CREATE TABLE usuarios(
	nombre VARCHAR(50),
    correo VARCHAR(50)
);
```
- Para agregar una columna m치s a una tabla
```sql 
ALTER TABLE usuarios ADD COLUMN cumplea침os VARCHAR(15);
```

- Para modificar el tipo de dato de una columna
```sql 
ALTER TABLE usuarios MODIFY cumplea침os DATE;
```

- Para modificar el nombre de una columna
```sql 
ALTER TABLE usuarios RENAME COLUMN cumplea침os to nacimiento;
```

- Para eliminar una columna de una tabla
```sql 
ALTER TABLE usuarios DROP COLUMN nacimiento;
```

- Para eliminar una tabla
```sql 
DROP TABLE usuarios;
```

- Creamos una tabla con una llave primaria usuario_id, de modo INT autoincrementable y UNSIGNED que significa entero pero sin signo
```sql 

CREATE TABLE usuarios(
	usuario_id INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(30) NOT NULL,
    apellidos VARCHAR(59) NOT NULL,
    correo VARCHAR(50) UNIQUE,
    direccion VARCHAR(100) DEFAULT "SIN DIRECCION",
    edad INT DEFAULT 0
);
```