- Para agregar valores a una tabla, primero se especifica las columnas a agregar y luego los valores
```sql
INSERT INTO usuarios (apellidos, edad, nombre) VALUES ("Palacios","15","Antonio");
```

- otra forma de hacer lo mismo
```sql
INSERT INTO usuarios SET nombre='rosa', apellidos='campos', edad=22;
```

- Para agregar varios valores a una tabla

```sql
INSERT INTO usuarios (nombre, apellidos, correo, edad) VALUES
	("duke", "rojas", "duke@gmail.com", 1),
    ("black", "palacios", "goma@gmail.com", 4);
```

- Para mostrar los datos de una tabla
```sql
SELECT * FROM usuarios;
```

- Para mostrar solo los nombres y edades de los usuarios
```sql
SELECT nombre, edad, usuario_id FROM usuarios;
```
- Para contar cuantos registros hay en una tabla
```sql
SELECT COUNT(*) FROM usuarios;
```

- Para darle un alias a la columna de la tabla
```sql
SELECT COUNT(*) AS total_usuarios FROM usuarios;
```

- Para seleccionar solo los usuarios que cumplan con una condición
```sql
SELECT * FROM usuarios WHERE nombre = 'Antonio';
```
```sql
SELECT * FROM usuarios WHERE nombre in ("Antonio", "duke", "black");
```

- Para seleccionar solo los usuarios que cumplan con una condició, en este caso todos los apellidos que empiecen con 'p'
```sql
SELECT * FROM usuarios where apellidos LIKE 'p%';

SELECT * FROM usuarios where correo LIKE '%@gmail.com';

SELECT * FROM usuarios where correo LIKE '%it%';
```

- PARA LO INVERSO DE LIKE
```sql
SELECT * FROM usuarios where apellidos NOT LIKE 'p%';

SELECT * FROM usuarios where correo NOT LIKE '%@gmail.com';
```

- Para seleccionar solo los usuarios que cumplan con una condición, en este caso todos los usuarios que tengan una edad diferente a 15
```sql
SELECT * FROM usuarios WHERE edad != 15;
```
- otra manera de hacer lo mismo
```sql
SELECT * FROM usuarios WHERE edad <> 15;
SELECT * FROM usuarios WHERE edad = 15;
SELECT * FROM usuarios WHERE edad > 1;
SELECT * FROM usuarios WHERE edad >= 1;
SELECT * FROM usuarios WHERE edad <= 15;
```

## OPERADORES LÓGICOS

```sql
SELECT * FROM usuarios WHERE NOT direccion = 'SIN DIRECCION';
SELECT * FROM usuarios WHERE direccion != 'SIN DIRECCION' AND edad >= 4;
SELECT * FROM usuarios where direccion != 'SIN DIRECCION' OR edad >=4;
```