|Tipo     |    Descripción                                                                 |
|---------|--------------------------------------------------------------------------------|
|VARCHAR  |Cadena de texto variable, con una longitud máxima especificada                  |
|CHAR     |Cadena de texto fija, con una logitud específica                                |    
|INT      |Número entero, positivo o negativo.                                             |        
|BIGINT   |Número entero grande, positivo o negativo.                                      |
|FLOAT    |Número decimal de precisión simple.                                             |
|DOUBLE   |Número decimal de doble precisión.                                              |
|DECIMAL  |Número decimal con precisión fija.                                              |
|DATE     |Fecha, con valores de año, mes y día.                                           |     
|TIME     |Hora, con valores de hora, minutos y segundas.                                  | 
|DATETIME |Fecha y hora combinadas.                                                        | 
|TIMESTAMP|Marca de tiempo, que indica un momento específico en el tiempo.                 | 
|BOOLEAN  |Valore booleano, verdadero o falso.                                             |        
|BLOB     |Objeto binario grande, para almacenar datos binarios, como imágenes o archivos. |
|JSON     |Formato de texto estructurado para el intercambio de datos.                     |

### Comandos básicos

|Comando   |    Descripción                                                                                                          |
|----------|-------------------------------------------------------------------------------------------------------------------------|
|SELECT    |Recupera datos de una o varias tablas. Es una de las sentencias más comunes en SQL                                       |
|INSERT    |Agrega nuevos datos a una tabla                                                                                          |    
|UPDATE    |Actualiza los datos existentes en una tabla                                                                              |        
|DELATE    |Elimina datos de una tabla                                                                                               |
|CREATE    |Crea una nueva tabla, vista,indice, procedimiento almacenado u otra estructura de base de datos                          |
|ALTER     |Número decimal de doble precisión.                                                                                       |
|DROP      |Número decimal con precisión fija.                                                                                       |
|GRANT     |Concede permisos a un usuario o grupo de usuarios para realizar operaciones en una tabla o en la base de datos en general|     
|REVOKE    |Retira los permisos previamente otorgados a un usuario o grupo de usuarios                                               | 
|JOIN      |Combina datos de dos o más tablas en función de una columna común                                                        | 
|UNION     |Combina los resultados de dos o más consultas en una sola tabla                                                          | 
|GROUP BY  |Agrupa los resultados de una consulta en función de una o más columnas                                                   |        
|HAVING    |Permita filtrar los resultados de una consulta agrupada                                                                  |
|ORDER BY  |Ordena los resultados de una consulta en función de una o más columnas                                                   |
|LIMIT     |Limita el número de filas devueltas por una consulta                                                                     |

|Tipo       |    Descripción                                               |
|-----------|--------------------------------------------------------------|
|AVG()      |Devuelve el valor promedio de una columna numérica            |
|COUNT()    |Cuenta el número de filas o valores distintos en una columna  |    
|MAX()      |Devuelve el valor máximo de una columna                       |        
|MIN()      |Devuelve el valor min de una columna                          |
|SUM()      |Devulve la suma de los valores de una columna numérica        |
|CONCAT()   |Concatena dos o más cadenas de texto                          |
|SUBSTRING()|Devuelve una parte de una cadena de texto                     |
|UPPER()    |convierte una cadena de texto en mayuscula                    |     
|LOWER()    |convierte una cadena de texto en minúscula.                   | 
|LEFT()     |Devuelve los carácteres iniciales de una cadena de texto      | 
|RIGHT()    |Devuelve los carácteres finales de una cadena de texto        | 
|DATE()     |Extra la fecha de un valor de fecha y hora                    |        
|YEAR()     |Devuelve el año de una fecha.                                 |
|MONTH()    |Devuelve el mes de una fecha                                  |
|DAy()      |Devuelve el dia de una fecha                                  |
|ROUND()    |Redondea un valor numérico al número de decimales especificado|

### Buenas prácticas
1. Comandos y palabras reservadas de SQL van en MAYUSCULA.
1. Nombres de objetos y datos van en minúscula con _snake_case_.
1. Para strings usuar comillas simples (`''`)
1. Todas las sentencias terminan con punto y coma (`;`)